body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .container {
    text-align: center;
    width: 100%;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .input-container,
  .permission-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .styled-input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
  }
  
  
  .permission-text {
    font-size: 18px;
    color: white;
    background: #27ae60;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
  }
  
  .toggle-btn {
    display: block;
    margin: 20px auto;
    padding: 8px 15px;
    font-size: 16px;
    color: white;
    background: #e74c3c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .toggle-btn:hover {
    background: #c0392b;
  }
  